/*Medialist Styles*/
/*Medialist Version: 1.4.0*/
.medialist-alert{padding: 20px;background-color:#ff9800; /* Red */color:white;margin-bottom:15px;}
.medialist-closebtn{margin-left:15px;color:white;font-weight:bold;float:right;font-size:22px;line-height:20px;cursor:pointer;transition:0.3s;}
.medialist-closebtn:hover{color:black;} 
.medialist ul{padding-left:0;padding-bottom:20px;margin:0;}
.medialist a{margin-left:25px;display:inline-block;width:97%;padding:7px;margin:-7px;margin-left:20px;box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0)!important; -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0)!important;border-bottom:none !important;text-decoration:none !important}
.medialist-page-data{display:inline-block!important; font-size:14px!important; color:#3C4858; font-family: "Roboto", "Helvetica", "Arial", sans-serif;}
.medialist-search{background: white url("../images/silk_icons/magnifier.png") no-repeat 10px !important;
width:200px!important;padding: 12px 10px 10px 30px!important;display:inline!important;}
.medialist-hidden{display:none!important;}
.medialist-active{display:block!important;}
/*Check type identifier for media icon*/
.medialist-embedded-section a.pdf:after{background:transparent url("../images/silk_icons/page_white_acrobat.png") no-repeat 0 0;}
.medialist-embedded-section a.doc:after{background:transparent url("../images/silk_icons/page_white_word.png") no-repeat 0 0;}
.medialist-embedded-section a.zip:after{background:transparent url("../images/silk_icons/page_white_zip.png") no-repeat 0 0;}
.medialist-embedded-section a.xls:after{background:transparent url("../images/silk_icons/page_white_excel.png") no-repeat 0 0;}
.medialist-embedded-section a.ppt:after{background:transparent url("../images/silk_icons/page_white_powerpoint.png") no-repeat 0 0;}
.medialist-embedded-section a.text:after{background:transparent url("../images/silk_icons/page_white_text.png") no-repeat 0 0;}
.medialist-embedded-section a.sql:after{background:transparent url("../images/silk_icons/script.png") no-repeat 0 0;}
.medialist-embedded-section a.xml:after{background:transparent url("../images/silk_icons/page.png") no-repeat 0 0;}
.medialist-embedded-section a.exe:after{background:transparent url("../images/silk_icons/application.png") no-repeat 0 0;}
.medialist-embedded-section a.wav:after, a.mp3:after, a.wma:after, a.mid:after, a.midi:after{background:transparent url("../images/silk_icons/music.png") no-repeat 0 0;}
.medialist-embedded-section a.jpg:after, a.gif:after, a.png:after, a.bmp:after, a.tiff:after, a.icon:after{background:transparent url("../images/silk_icons/picture.png") no-repeat 0 0;}
/*
*Default Style ml-default
*/
.ml-ul-ml-default li,.medialist-search-ml-default a,.mlpagination-ml-default a,.mlpagination-ml-default a:visited{
	text-align:left;
	background:#eeeeee;
	/*Rounded corners*/
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;
    border:solid 1px #ccc;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-default li:hover{
	background:#ffdddd;
	border-color:#aaa;
}
.ml-item-ml-default{
	color:#000;
	font-weight:350;
}
.ml-item-ml-default:hover{color:#D54E21;}
/*Styles the media type and size details*/
.ml-details-ml-default{color:#1d9fff;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-default:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}

.medialist a.Posted:after{background:transparent url("../images/silk_icons/email_link.png") no-repeat 0 0;}
.mlpagination-ml-default{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-default{
	border-color:#aaa!important;
	-webkit-border-radius:5px!important;-moz-border-radius:5px!important;border-radius:5px!important;
}
.mlpagination-ml-default a,.medialist-search-ml-default a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;
	color:#6b6b6b;
	border-bottom:1px solid !important;
	border-color:#aaa !important;
}
.mlpagination-ml-default a:hover,.medialist-search-ml-default a:hover{
	background:#d1d1d1;
	border-color:#aaa;
	color:#000;
}
.mlpagination-ml-default a.disabled,.medialist-search-ml-default a.disabled{opacity:0.4;}
/*
*Alt 1 Style ml-metro-light-green
*/
.ml-ul-ml-metro-light-green li,.medialist-search-ml-metro-light-green a,.mlpagination-ml-metro-light-green a,.mlpagination-ml-metro-light-green a:visited{
	text-align:left;
	background:#99b433;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-metro-light-green li:hover{
	background-color:#33b469;
}
.ml-item-ml-metro-light-green{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-metro-light-green:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-metro-light-green{color:#4f33b4;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-metro-light-green:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-metro-light-green{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-metro-light-green{
	border-color:#aaa!important;
	-webkit-border-radius:5px!important;-moz-border-radius:5px!important;border-radius:5px!important;
}
.mlpagination-ml-metro-light-green a,.medialist-search-ml-metro-light-green a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-metro-light-green a:hover,.medialist-search-ml-metro-light-green a:hover{
	background:#33b469;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-metro-light-green a.disabled,.medialist-search-ml-metro-light-green a.disabled{opacity:0.4;}
/*
*Alt 2 Style ml-metro-green
*/
.ml-ul-ml-metro-green li,.medialist-search-ml-metro-green a,.mlpagination-ml-metro-green a,.mlpagination-ml-metro-green a:visited{
	text-align:left;
	background:#00a300;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-metro-green li:hover{
	color:#D54E21;
	background-color:#00a3a3;
}
.ml-item-ml-metro-green{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-metro-green:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-metro-green{color:#0000a3;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-metro-green:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-metro-green{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-metro-green{
	border-color:#aaa!important;
}
.mlpagination-ml-metro-green a,.medialist-search-ml-metro-green a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-metro-green a:hover,.medialist-search-ml-metro-green a:hover{
	background:#00a3a3;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-metro-green a.disabled,.medialist-search-ml-metro-green a.disabled{opacity:0.4;}
/*
*Alt 3 Style ml-metro-magenta
*/
.ml-ul-ml-metro-magenta li,.medialist-search-ml-metro-magenta a,.mlpagination-ml-metro-magenta a,.mlpagination-ml-metro-magenta a:visited{
	text-align:left;
	background:#ff0097;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-metro-magenta li:hover{
	color:#D54E21;
	background-color:#e62e9c;
}
.ml-item-ml-metro-magenta{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-metro-magenta:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-metro-magenta{color:#99ff00;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-metro-magenta:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-metro-magenta{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-metro-magenta{
	border-color:#aaa!important;
}
.mlpagination-ml-metro-magenta a, .medialist-search-ml-metro-magenta a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-metro-magenta a:hover, .medialist-search-ml-metro-magenta a:hover{
	background:#e62e9c;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-metro-magenta a.disabled,.medialist-search-ml-metro-magenta a.disabled{opacity:0.4;}
/*
*Alt 4 Style ml-metro-light-purple
*/
.ml-ul-ml-metro-light-purple li,.medialist-search-ml-metro-light-purple a,.mlpagination-ml-metro-light-purple a,.mlpagination-ml-metro-light-purple a:visited{
	text-align:left;
	background:#9f00a7;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-metro-light-purple li:hover{
	color:#D54E21;
	background-color:#e62e9c;
}
.ml-item-ml-metro-light-purple{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-metro-light-purple:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-metro-light-purple{color:#a7a400;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-metro-light-purple:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-metro-light-purple{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-metro-light-purple{
	border-color:#aaa!important;
}
.mlpagination-ml-metro-light-purple a,.medialist-search-ml-metro-light-purple a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-metro-light-purple a:hover,.medialist-search-ml-metro-light-purple a:hover{
	background:#e62e9c;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-metro-light-purple a.disabled,.medialist-search-ml-metro-light-purple a.disabled{opacity:0.4;}
/*
*Alt 5 Style ml-mauve
*/
.ml-ul-ml-mauve li,.medialist-search-ml-mauve a,.mlpagination-ml-mauve a,.mlpagination-ml-mauve a:visited{
	text-align:left;
	background:#76608a;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-mauve li:hover{
	color:#D54E21;
	background-color:#8a6089;
}
.ml-item-ml-mauve{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-mauve:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-mauve{color:#ccac37;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-mauve:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-mauve{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-mauve{
	border-color:#aaa!important;
}
.mlpagination-ml-mauve a, .medialist-search-ml-mauve a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-mauve a:hover, .medialist-search-ml-mauve a:hover{
	background:#e62e9c;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-mauve a.disabled,.medialist-search-ml-mauve a.disabled{opacity:0.4;}
/*
*Alt 6 Style ml-taupe
*/
.ml-ul-ml-taupe li,.medialist-search-ml-taupe a,.mlpagination-ml-taupe a,.mlpagination-ml-taupe a:visited{
	text-align:left;
	background:#87794e;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-taupe li:hover{
	color:#D54E21;
	background-color:#6b4e87;
}
.ml-item-ml-taupe{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-taupe:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-taupe{color:#91f0fa;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-taupe:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-taupe{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-taupe{
	border-color:#aaa!important;
}
.mlpagination-ml-taupe a,.medialist-search-ml-taupe a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-taupe a:hover, .medialist-search-ml-taupe a:hover{
	background:#e62e9c;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-taupe a.disabled,.medialist-search-ml-taupe a.disabled{opacity:0.4;}
/*
*Alt 7 Style ml-sienna
*/
.ml-ul-ml-sienna li,.medialist-search-ml-sienna a,.mlpagination-ml-sienna a,.mlpagination-ml-sienna a:visited{
	text-align:left;
	background:#a0522d;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;	
	color:#21759B;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-sienna li:hover{
	color:#D54E21;
	background-color:#2d7fa0;
}
.ml-item-ml-sienna{
	color:#fff;
	font-weight:400;
}
.ml-item-ml-sienna:hover{color:#fff;}
/*Styles the media type and size details*/
.ml-details-ml-sienna{color:#aa98f5;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-sienna:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-sienna{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-sienna{
	border-color:#aaa!important;
}
.mlpagination-ml-sienna a,.medialist-search-ml-sienna a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
	color:#fff;
	font-weight:400;
}
.mlpagination-ml-sienna a:hover,.medialist-search-ml-sienna a:hover{
	background:#2d7fa0;
	border-color:#aaa;
	color:#fff;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5); /* 50% black coming from the bottom */
}
.mlpagination-ml-sienna a.disabled,.medialist-search-ml-sienna a.disabled{opacity:0.4;}
/*
*Alt 8 Style ml-white
*/
.ml-ul-ml-white li,.medialist-search-ml-white a,.mlpagination-ml-white a,.mlpagination-ml-white a:visited{
	text-align:left;
	cursor:pointer;display:block;text-decoration:none;margin:10px 0;padding:11px 10px 10px 10px;*padding:10px;/*ie6/7 DO not support pseudo elements */position:relative;zoom:1;
    border:solid 1px #ccc;	
	background:#fff;
	font-size:14px;
	line-height:1.2em;
}
.ml-ul-ml-white li:hover{
	background-color:#d1d1d1;
	border-color:#aaa;
}
.ml-item-ml-white{
	color:#000;
	font-weight:350;
}
.ml-item-ml-white:hover{color:#000;}
/*Styles the media type and size details*/
.ml-details-ml-white{color:#1d9fff;float:right;}
/*Sets the list ready for media icon*/
a.ml-item-ml-white:after{content:"";display:block;height:20px;left:10px;margin-right:2px;position:absolute;top:11px;width:20px;}
.mlpagination-ml-white{height: 45px;margin-top:-20px;margin-bottom: 20px;padding-top:0px;text-align:center;float:right;}
/*Pagination & Search*/
.ml-search-ml-white{
	border-color:#aaa!important;
}
.mlpagination-ml-white a,.medialist-search-ml-white a{
	display:inline-block;padding:5px;*display:inline;zoom:1;width:100px;padding:8px 8px 8px 8px;margin-left:10px;text-align:center;
	color:#6b6b6b;
	border-bottom:1px solid !important;
	border-color:#aaa !important;
}
.mlpagination-ml-white a:hover,.medialist-search-ml-white a:hover{
	background:#d1d1d1;
	border-color:#aaa;
	color:#000;
}
.mlpagination-ml-white a.disabled,.medialist-search-ml-white a.disabled{opacity:0.4;}